#earlyhumansmain {
    padding-right: 5%;
    padding-left: 5%;
}


#maindivtophum {
    border-style: solid;
    border-width: 2px;
    border-color:black
    width 20em;
    /* height: 350px;
    margin-left: 50px; */
    padding: 20px;
}